{% extends '::base.html.twig' %}

{% block section %}

<div class="col-md-1 column"></div>

<div class="col-md-3 column">
	<div class="panel panel-default">
		<div class="panel-heading menu-header">
			<h3 class="panel-title">{% trans %}Propiedades{% endtrans %}</h3>
		</div>
		<a class="anchor-menu" href="{{ path('view_activities') }}">
			<div class="panel-body liner-bottom">
			&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span>&nbsp;{% trans %}Ver propiedades{% endtrans %}</div>
		</a>
		<a class="anchor-menu" href="{{ path('new_activity') }}">
			<div class="panel-body liner-bottom">
			&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;{% trans %}Añadir propiedad{% endtrans %}</div>
		</a>
		<div class="panel-heading menu-header">
			<h3 class="panel-title">Reservas</h3>
		</div>
		<a class="anchor-menu" href="{{ path('consultBookings') }}">
			<div class="panel-body">
			&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span>&nbsp;{% trans %}Ver reservas{% endtrans %}</div>
		</a>
	</div>
</div>

<div class="col-md-7 column mainContent">
	{% block workspace %}

	{% endblock %}
</div>

<div class="col-md-1 column"></div>

{% endblock %}