.mediaFooter{
	background-image: -moz-linear-gradient(top, #707070 0%, #FFFFFF 100%);
	padding: 20px;
    text-align: right;
}

.mediaSection{
	min-height: 500px;
}

.borderBox{
	border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
}

.liner-bottom{
	border-bottom: 1px solid #dddddd;
}

.menu-header{
	font-style:italic;
	font-weight:bold;
}

.anchor-menu:link {
    text-decoration: none;
    color: #777777;
}

.anchor-menu:visited {
    text-decoration: none;
    color: #777777;
}

.anchor-menu:hover {
    text-decoration: none;
    color: #777777;
}

.anchor-menu:active {
    text-decoration: none;
    color: #777777;
}

.mainContent{
	border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding: 25px;
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h2{
	color: #555555;
}

.modifyDiv{
    float:right;
    margin: 5px;
}

.imageSpan{
    float:left;
    margin: 5px 10px 5px 5px;
    width: 102px;
    background: #FFF;
    border: 1px #FAEBCC solid;
}

.thisInput{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.thisInput:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.dateHourTable{
    width: 100%;
}

.dateHourTable select{
    float: right;
    height: 34px;
}

.nameDiv{
    font-size: 1.5em;
}

.priceDiv{
    font-size: 1.5em;
    float: right;
}

.noteSpan{
    font-size: 0.8em;
    color: #555;
    font-style: italic;
}

.bookingButton{
    float: right;
}

.clear{
    clear:both;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}