/*header{background-color: #222222 !important;}
.brandClass {color: #E67E22 !important; fonr-size: 2em;}
.headerLists a{color: #FFFFFF !important;}
.headerLists a:hover{color: #E67E22 !important;}
.headerLists .open a{color: #222222 !important;}
.headerLists .open .adminLI a{color: #FFFFFF !important;}

.mediaFooter{
	background-image: -moz-linear-gradient(top, #707070 0%, #FFFFFF 100%);
	padding: 20px;
    text-align: right;
}

.mediaSection{
	min-height: 500px;
}

.borderBox{
	border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 10px;
    padding: 20px;
}

.innerBox{
    padding: 20px;
}

.pictureDiv{
    font-size: 150px;
    color: #CCC;
}

.liner-bottom{
	border-bottom: 1px solid #dddddd;
}

.menu-header{
	font-style:italic;
	font-weight:bold;
}

.anchor-menu:link {
    text-decoration: none;
    color: #777777;
}

.anchor-menu:visited {
    text-decoration: none;
    color: #777777;
}

.anchor-menu:hover {
    text-decoration: none;
    color: #777777;
}

.anchor-menu:active {
    text-decoration: none;
    color: #777777;
}

.mainContent{
	border: 1px solid #dddddd;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    padding: 25px;
}

hr {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(   left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(    left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -o-linear-gradient(     left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h2{
	color: #555555;
}

.modifyDiv{
    float:right;
    margin: 5px;
}

.imageSpan{
    float:left;
    margin: 5px 10px 5px 5px;
    width: 102px;
    background: #FFF;
    border: 1px #FAEBCC solid;
}

.thisInput{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.thisInput:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.dateHourTable{
    width: 100%;
}

.dateHourTable select{
    float: right;
    height: 34px;
}

.nameDiv{
    font-size: 1.5em;
}

.priceDiv{
    font-size: 1.5em;
    float: right;
}

.noteSpan{
    font-size: 0.8em;
    color: #555;
    font-style: italic;
}

.bookingButton{
    float: right;
}

.clear{
    clear:both;
}

.margin{
    margin-bottom: 20px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.modifImage > .item {
    margin-top: 20px;
}

.imageCarouselDetails img {
    width: auto;
    height: 250px;
    max-height: 250px;
}

.nameDiv a{
    color: #8A6D3B;
    font-style: italic;
    text-decoration: none;
}

.backDiv{
    float: left;
}

.backDiv a{
    color: #555;
    text-decoration: none;
}

.bookingCalendar{
    float: right;
    border: 1px solid #faebcc;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.bookingData{
    float: left;
}

.titleCalendar{
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.dayCalendar{
    width:14%;
    font-weight: bold;
}

.bookingButtons{
    text-align: center;
}

.btnMargin{
    margin: 10px;
}

.selectedDay{
    font-weight: bold;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    margin: -3px;
    padding: 3px;
}

.bookedDay{
    font-weight: bold;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    margin: -3px;
    padding: 3px;
}

.ownerFilter, .bookingsFilter{
    text-align: right;
    margin: 20px;
}

.noAvailableDay{
    background-color: lightgray;
}

.calendarByDay td{
    width: 20px;
}

.cabeceraCalendar{
    background-color: #ffffcc;
}

.borderTD {
    border: 1px solid lightgray;
    font-weight: normal;
}

.breadcrumbs{
    font-size: 0.8em;
    font-style: italic;
    color: grey;
}

@media (max-width: 300px) {
    .nameDiv {
        width: 100%;
    }
    .priceDiv{
        width: 100%;
        text-align: center;
    }
    .imageSpan{
        width: 100%;
        text-align: center;
    }
    .bookingButton, .backDiv, .desc-icon{
        display: none;
    }
}

@media (max-width: 600px) {
    .nameDiv {
        width: 100%;
    }
    .priceDiv{
        width: 100%;
        text-align: center;
    }
    .imageSpan{
        width: 100%;
        text-align: center;
    }
    .bookingButton, .backDiv, .desc-icon{
        display: none;
    }

    .headerUserName{
        display: none !important;
    }

    .headerLists{
        float:right;
    }
}

    @media (max-width: 750px) {
        .headerUserName{
            display: none !important;
        }

        .headerLists{
            float:right;
        }
    }
}*/

.totalPrice{
    font-size: 1.5em;
}

#questionaire{
    width: 100%;
}

#questionaire th{
    padding: 10px;
}

#questionaire textarea{
    width: 100%;
}

.searcherForm{
    border: 0px !important;
    color: #999;
}

.searcherForm input, .searcherForm label{
    color: #999999 !important;
}

.searcherForm .checkbox{
    margin-left: 20px;
    color: #999;
}
.searcherForm select{
    background-color: #374850;
    color: #999;
    border: 0px;
    height: 35px;
}

.dateHourTable{
    width:100%;
    margin-top:10px;
}
.selectedDay{
    font-weight: bold;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    margin: -3px;
    padding: 3px;
}

.bookedDay{
    font-weight: bold;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    margin: -3px;
    padding: 3px;
}

.blockedDay{
    font-weight: bold;
    background-color: #fcabc7;
    border-color: red;
    color: red;
    margin: -3px;
    padding: 3px;
}

.pendingDay{
    font-weight: bold;
    background-color: #f9f495;
    border-color: yellow;
    color: yellow;
    margin: -3px;
    padding: 3px;
}

.noDay{
    font-weight: bold;
    background-color: #efeded;
    border-color: yellow;
    color: yellow;
    margin: -3px;
    padding: 3px;
}

.passedDay{
    text-decoration: line-through;
    background-color: #d6d4d4;
}

.monthName{
    background-color: #00AB45;
    border-color: #00AB45;
    color: white;
}

.weekName{
    background-color: #D4AA00;
    border-color: #D4AA00;
    color: white;
}

.refreshIcal{
    color:orange;
}

.deleteIcal{
    color:red;
}

.deleteIcal, .refreshIcal{
    cursor:pointer;
    font-size:1.3em;
    font-weight: bold;
}

.deleteIcal:hover, .refreshIcal:hover{
    font-size:1.7em;
}

.updatedIcal{
    color:green;
    font-size:1.3em;
    font-weight: bold;
}

.nameIcal{
    cursor: help;
    vertical-align: middle;
    padding-bottom: 20px;
}

.inputError{
    border: 1px solid red;
}

.classCountry{
    padding-left: 40px;
}

.classComunity{
    padding-left: 80px;
}

.classProvince{
    padding-left: 120px;
}

.classCity{
    padding-left: 160px;
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

