{% extends '::base.html.twig' %}

{% block section %}

	<h2>{% trans %}Reserva gestionada{% endtrans %}</h2>
	<hr/>

	<div class="alert alert-success text-center">
	<h4>{% trans %}Su reserva ha sido gestionada correctamente{% endtrans %}</h4>
	<p>En breve recibir치 un email con toda la informaci칩n sobre ella. Recuerde que para poder disfrutar de esta instalaci칩n, el propietario se pondr치 en contacto con usted lo antes posible.</p>
	</div>

{% endblock %}