{% extends '::admin.html.twig' %}

{% block page_title %}
    {% trans %}Añadir propiedad{% endtrans %}
{% endblock %}

{% block page_content %}

	<div class="alert alert-success text-center">
	<h4>{% trans %}¡La propiedad ha sido registrada con exito!{% endtrans %}</h4>
	<p><a class="alertAnchor" href="{{ path('view_activities') }}">{% trans %}Ver todas las instalaciones{% endtrans %}</a></p>
	</div>

{% endblock %}